@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quentin';
    src: url('/fonts/QuentinRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
